body,html{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:100%
}
.page_login{
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
div.container{
  width: 40%;
  margin-top: 15%;
  border: 2px solid white ;
  border-radius:2%;
  background-color:white;
}
div.alert.alert-danger{
  width: 50%;
  height: auto;
  margin: auto;
  background-color: whitesmoke;
}
#login{
  background-color: rgba(245,151,0);
  border: none;
  margin-left:45%;
}
#mdp_oublie{
  margin-left:12px;
  text-decoration: none;
  color:black;
}
#mdp_oublie:hover{
  color:red;
}
#logo{
  margin-left:25%;
}
